# Automatically convert line endings to the natives ones on checkout, but keep LF in repository
* text

# Keep the spreadsheet files as CRLF on all systems when checking out
*.xml text eol=crlf

# Mark binary files explicitly (will not appear in 'git show' or 'git diff')
*.xls binary
*.dll binary
*.exe binary
